@font-face {
    font-family: 'Unb';
    src: url('../fonts/Unbounded-Regular.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Unb';
}

.btn_container{
    margin: 0 auto;
    max-width: 1920px;
display: flex;
justify-content: center;
}
.btn_content{
    margin-top: 150px;
    margin-bottom: 150px;
background-color: crimson;
padding: 50px;
width: 850px;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.box{
    margin: 15px 15px 15px;
width: 200px;
padding: 30px;
height: auto;
background-color: #fff;
border: 2px solid #000;
border-radius: 15px;
text-align: center;
}
.box2{
    margin: 15px 15px 15px;
width: 200px;
padding: 30px;
height: auto;
background-color: #fff;
border: 2px solid #000;
border-radius: 15px;
text-align: center;
}

.button{
width: 200px;
padding: 20px;
height: auto;
background-color: #fff;
border: 1px solid #000;
border-radius: 15px;
color: red;
}
.button2{
    width: 200px;
    padding: 20px;
    height: auto;
    background-color: #fff ;
    color: blue;
    border: 1px solid #000;
    border-radius: 15px;
}
.button3{
    width: 200px;
    padding: 20px;
    height: auto;
    background-color: #fff ;
    
    border: 1px solid #000;
    border-radius: 15px;
}
.button4{
    width: 200px;
    padding: 20px;
    height: auto;
    border: 1px solid #000;
    border-radius: 15px;
}
.button5{
    width: 200px;
    padding: 20px;
    height: auto;
    border: 1px solid #000;
    border-radius: 15px;
    
}
.GitHub{
    width: 200px;
    padding: 20px;
    height: auto;
    border: 1px solid #000;
    border-radius: 15px;
    color: #fff;
text-align: center;
}
